Repository SsZzzz/vite-project: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, eslint --fix, stylelint --fix

.lintstagedrc:

{
  "*.{md,json}": [
    "prettier --cache --write"
  ],
  "*.{js,jsx}": [
    "eslint --fix",
    "prettier --cache --write"
  ],
  "*.{css,less}": [
    "stylelint --fix",
    "prettier --cache --write"
  ]
}

chore: commit message lint
  .husky/commit-msg
  commitlint.config.cjs
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

feat: react-router antd
  .eslintrc.cjs
  .lintstagedrc
  .stylelintrc
  index.html
  package.json
  pnpm-lock.yaml
  public/favicon.png
  public/vite.svg
  src/App.css
  src/App.jsx
  src/assets/react.svg
  src/index.css
  src/index.scss
  src/layout/index.jsx
  src/layout/index.module.scss
  src/main.jsx
  src/pages/home/index.jsx
  src/pages/index.jsx
  src/pages/noMatch/index.jsx
  src/pages/queryTable/index.jsx
  src/routes.jsx
  vite.config.js
Due: prettier --cache --write, eslint --fix, stylelint --fix

feat: 增加约定式路由功能
  src/routes.jsx
Due: prettier --cache --write, eslint --fix

feat: 404 login
  src/pages/notBelongLayout/login/index.jsx
  src/pages/notBelongLayout/noMatch/index.jsx
Due: prettier --cache --write, eslint --fix

feat: 登录页
  package.json
  pnpm-lock.yaml
  public/loginBackground.svg
  public/logo.svg
  public/logo2.svg
  src/layout/index.jsx
  src/main.jsx
  src/pages/notBelongLayout/login/index.jsx
  src/pages/notBelongLayout/login/index.module.scss
Due: prettier --cache --write, eslint --fix

perf: 切换为 less
  package.json
  pnpm-lock.yaml
  src/index.less
  src/layout/index.jsx
  src/layout/index.module.less
  src/main.jsx
  src/pages/notBelongLayout/login/index.jsx
  src/pages/notBelongLayout/login/index.module.less
Due: prettier --cache --write, eslint --fix, stylelint --fix

chore: 切换到 less
  src/index.less
  src/layout/index.jsx
  src/layout/index.module.less
  src/main.jsx
  src/pages/notBelongLayout/login/index.jsx
  src/pages/notBelongLayout/login/index.module.less
Due: prettier --cache --write, eslint --fix, stylelint --fix

chore: antd 主题定制
  vite.config.js
Due: prettier --cache --write, eslint --fix

feat: map demo
  package.json
  pnpm-lock.yaml
  src/layout/index.jsx
  src/pages/map/index.jsx
  src/pages/map/roadGeoJSON.js
Due: prettier --cache --write, eslint --fix

chore: pnpm-lock
  pnpm-lock.yaml
Due: none

feat: map flyLine
  .eslintrc.cjs
  package.json
  pnpm-lock.yaml
  src/components/FlyLine/index.jsx
  src/components/FlyLine/utils.js
  src/layout/index.jsx
  src/layout/index.module.less
  src/pages/map2/index.jsx
Due: prettier --cache --write, eslint --fix, stylelint --fix

perf: flyLine
  src/components/FlyLine/index.jsx
Due: prettier --cache --write, eslint --fix

fix: 终点精度不准的问题
  src/components/FlyLine/index.jsx
  src/components/FlyLine/utils.js
  src/pages/map2/index.jsx
Due: prettier --cache --write, eslint --fix

perf: 计算路径长度
  src/components/FlyLine/utils.js
Due: prettier --cache --write, eslint --fix

perf: 性能优化及新增弹窗
  src/components/FlyLine/index.jsx
  src/components/FlyLine/utils.js
  src/pages/map2/index.jsx
Due: prettier --cache --write, eslint --fix

v1.0.0
  .prettierignore
  .stylelintrc
  package.json
  pnpm-lock.yaml
  src/components/FlyLine/index.jsx
  src/components/FlyLine/utils.js
  src/layout/index.jsx
  src/main.jsx
  src/pages/map/index.jsx
  src/pages/map/roadGeoJSON.js
  src/pages/map2/index.jsx
  src/pages/notBelongLayout/login/index.jsx
Due: prettier --cache --write, eslint --fix

v1.0.0
  package.json
Due: prettier --cache --write

v1.0.0
  .stylelintrc
  package.json
  src/layout/index.jsx
  src/main.jsx
  src/pages/home/index.jsx
  src/pages/notBelongLayout/login/index.jsx
  src/pages/queryTable/index.jsx
Due: prettier --cache --write, eslint --fix

v1.0.0
  pnpm-lock.yaml
Due: none

v1.0.0
  .prettierignore
Due: none

feat: table query demo
  package.json
  pnpm-lock.yaml
  src/index.less
  src/layout/index.module.less
  src/pages/queryTable/index.jsx
  src/pages/queryTable/service.js
  src/pages/queryTable/store.js
Due: prettier --cache --write, eslint --fix, stylelint --fix

perf: global scroll style
  src/index.less
Due: prettier --cache --write, stylelint --fix

feat: 离线地图
  src/layout/index.jsx
  src/pages/map3/index.jsx
  src/pages/map3/mapStyle.js
Due: prettier --cache --write, eslint --fix

v2.0.0
  index.html
  package.json
  pnpm-lock.yaml
  public/loginBackground.svg
  public/logo.svg
  public/logo2.svg
  src/layout/index.jsx
  src/layout/index.module.less
  src/main.jsx
  src/pages/home/index.jsx
  src/pages/home/index.module.less
  src/pages/login/index.jsx
  src/pages/noMatch/index.jsx
  src/pages/notBelongLayout/login/index.jsx
  src/pages/notBelongLayout/login/index.module.less
  src/pages/queryTable/index.jsx
  src/pages/queryTable/store.js
  src/routes.jsx
  vite.config.js
Due: prettier --cache --write, eslint --fix, stylelint --fix

v2.0.0
  index.html
  package.json
  pnpm-lock.yaml
  public/loginBackground.svg
  public/logo.svg
  public/logo2.svg
  src/layout/index.jsx
  src/layout/index.module.less
  src/main.jsx
  src/pages/map1/index.jsx
  src/pages/map1/roadGeoJSON.js
  src/pages/map2/index.jsx
  src/pages/notBelongLayout/login/index.jsx
  src/pages/notBelongLayout/login/index.module.less
  src/pages/notBelongLayout/noMatch/index.jsx
  src/routes.jsx
  vite.config.js
Due: prettier --cache --write, eslint --fix, stylelint --fix

feat: 登录页
  package.json
  pnpm-lock.yaml
  public/login/loginBackground.png
  public/login/loginImage.png
  src/main.jsx
  src/pages/login/index.jsx
  src/pages/login/index.module.less
  src/pages/login/service.js
  src/routes.jsx
  vite.config.js
Due: prettier --cache --write, eslint --fix, stylelint --fix

feat: tab模式
  .stylelintrc
  package.json
  pnpm-lock.yaml
  src/layout/components/Tab.jsx
  src/layout/index.jsx
  src/layout/index.module.less
  src/layout/utils.js
  src/main.jsx
  src/pages/403/index.jsx
  src/pages/403/index.less
  src/pages/404/index.jsx
  src/pages/404/index.less
  src/pages/index.jsx
  src/pages/login/index.jsx
  src/pages/noMatch/index.jsx
  src/router.jsx
  src/routes.jsx
  src/services/index.js
  src/stores/global.js
Due: prettier --cache --write, eslint --fix, stylelint --fix

feat: 首页新增及整体样式修改
  pnpm-lock.yaml
  public/home/avatar.png
  public/home/title.png
  public/home/welcome.png
  src/index.less
  src/layout/index.jsx
  src/layout/index.module.less
  src/layout/utils.js
  src/pages/home/index.jsx
  src/pages/home/index.module.less
  src/services/index.js
  src/stores/global.js
  src/utils/index.js
Due: prettier --cache --write, eslint --fix, stylelint --fix

fix: 403 404
  src/pages/403/index.jsx
  src/pages/403/index.module.less
  src/pages/404/index.jsx
  src/pages/404/index.module.less
Due: prettier --cache --write, eslint --fix, stylelint --fix

feat: 菜单管理
  src/main.jsx
  src/pages/menuManagement/index.jsx
  src/pages/menuManagement/service.js
  src/router.jsx
Due: prettier --cache --write, eslint --fix

feat: 用户管理
  src/pages/userManagement/index.jsx
  src/pages/userManagement/service.js
Due: prettier --cache --write, eslint --fix

feat: 角色管理
  src/pages/roleManagement/index.jsx
  src/pages/roleManagement/index.module.less
  src/pages/roleManagement/service.js
  src/router.jsx
Due: prettier --cache --write, eslint --fix, stylelint --fix

perf: 用户管理新增邮箱展示
  src/pages/userManagement/index.jsx
Due: prettier --cache --write, eslint --fix

perf: 文案修改
  src/pages/menuManagement/index.jsx
Due: prettier --cache --write, eslint --fix

perf: 菜单新增icon
  src/services/index.jsx
Due: prettier --cache --write, eslint --fix

perf: table cell 高度
  src/index.less
Due: prettier --cache --write, stylelint --fix

chore: host
  vite.config.js
Due: prettier --cache --write, eslint --fix

feat: 表格查询页demo
  src/pages/queryTableWithHox/index.jsx
  src/pages/queryTableWithHox/service.js
  src/pages/queryTableWithHox/store.js
  src/router.jsx
  src/services/index.jsx
Due: prettier --cache --write, eslint --fix

perf: 用户管理增加角色和部门的展示
  src/pages/userManagement/index.jsx
Due: prettier --cache --write, eslint --fix

refactor: form去掉name
  src/pages/login/index.jsx
  src/pages/menuManagement/index.jsx
  src/pages/roleManagement/index.jsx
Due: prettier --cache --write, eslint --fix
