Repository SsZzzz/vite-project: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, eslint --fix, stylelint --fix

feat: defaultOpenKeys
  src/layout/index.jsx
Due: prettier --cache --write, eslint --fix

perf: 去掉table border
  src/pages/queryTable/index.jsx
  src/pages/queryTableWithHox/index.jsx
Due: prettier --cache --write, eslint --fix

feat: url basename
  src/router.jsx
Due: prettier --cache --write, eslint --fix

fix: 跳转到login失败的问题
  src/main.jsx
  src/router.jsx
Due: prettier --cache --write, eslint --fix

refactor: pnpm-lock
  pnpm-lock.yaml
Due: none

feat: 1.1.0
  jsconfig.json
  package.json
  pnpm-lock.yaml
  src/index.less
  src/layout/index.jsx
  src/main.jsx
  src/pages/logManagement/index.jsx
  src/pages/logManagement/service.js
  src/pages/login/index.jsx
  src/pages/login/service.js
  src/pages/menuManagement/index.jsx
  src/pages/menuManagement/service.js
  src/pages/organizationManagement/index.jsx
  src/pages/organizationManagement/index.module.less
  src/pages/organizationManagement/service.js
  src/pages/roleManagement/index.jsx
  src/pages/roleManagement/index.module.less
  src/pages/roleManagement/service.js
  src/pages/userManagement/index.jsx
  src/pages/userManagement/index.module.less
  src/pages/userManagement/service.js
  src/router.jsx
  src/services/index.jsx
  src/utils/index.js
  vite.config.js
Due: prettier --cache --write, eslint --fix, stylelint --fix

fix: login
  src/pages/login/index.jsx
Due: prettier --cache --write, eslint --fix

fix: 启动open
  vite.config.js
Due: prettier --cache --write, eslint --fix

Path conditions:
  prettier --cache --write: ((any of: *.{md,json}) or (any of: *.{js,jsx})) or (any of: *.{css,less,scss})
  eslint --fix: any of: *.{js,jsx}
  stylelint --fix: any of: *.{css,less,scss}
